{% extends 'core/base.html' %}

{% block content %}

<h2>👥 Customer List</h2>

<!-- SEARCH -->
<div class="card">
    <form method="get">
        <input type="text" name="search"
               placeholder="Enter name or phone"
               value="{{ search }}"
               style="padding:10px; width:70%; border-radius:6px; border:1px solid #ccc;">

        <button type="submit" class="btn btn-blue">Search</button>
    </form>
</div>

<!-- CUSTOMER TABLE -->
<div class="card">

    <table style="width:100%; border-collapse:collapse;">
        <tr style="background:#1e3a8a; color:white;">
            <th style="padding:10px;">Name</th>
            <th>Phone</th>
            <th>Area</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>

        {% for c in customers %}
        <tr style="border-bottom:1px solid #ddd;">
            <td style="padding:10px;">{{ c.name }}</td>
            <td>{{ c.phone }}</td>
            <td>{{ c.area.name }}</td>

            <!-- STATUS -->
            <td>
                {% if c.status == "Active" %}
                    <span style="color:green; font-weight:bold;">Active</span>

                {% elif c.status == "Stopped" %}
                    <span style="color:orange; font-weight:bold;">Stopped</span>

                {% else %}
                    <span style="color:red; font-weight:bold;">Inactive</span>
                {% endif %}
            </td>

            <!-- ACTIONS -->
            <td>

                {% if c.status == "Active" %}
                    <a href="/customers/stop/{{ c.id }}/" class="btn btn-purple">
                        Stop
                    </a>

                    <a href="/customers/deactivate/{{ c.id }}/" class="btn btn-red">
                        Inactive
                    </a>

                {% elif c.status == "Stopped" %}
                    <a href="/customers/activate/{{ c.id }}/" class="btn btn-green">
                        Start
                    </a>

                {% elif c.status == "Inactive" %}
                    <a href="/customers/activate/{{ c.id }}/" class="btn btn-green">
                        Active
                    </a>
                {% endif %}

                <a href="/customer-delete/{{ c.id }}/" class="btn btn-red">
                    Delete
                </a>

            </td>
        </tr>

        {% empty %}
        <tr>
            <td colspan="5" style="text-align:center; padding:15px;">
                No customers found
            </td>
        </tr>
        {% endfor %}

    </table>

</div>

{% endblock %}