{% extends 'core/base.html' %}

{% block content %}

<h2>⏸ Stop Customer Delivery</h2>

<div class="card" style="max-width:600px; margin:auto;">

    <h3>{{ customer.name }}</h3>
    <p><b>Phone:</b> {{ customer.phone }}</p>
    <p><b>Area:</b> {{ customer.area.name }}</p>

    <form method="post">
        {% csrf_token %}

        <label><b>Stop Start Date</b></label><br>
        {{ form.stop_start_date }}
        <br><br>

        <label><b>Stop End Date</b></label><br>
        {{ form.stop_end_date }}
        <br><br>

        <label><b>Reason</b></label><br>
        {{ form.stop_reason }}
        <br><br>

        <button type="submit" class="btn btn-purple">
            Save Stop Details
        </button>

        <a href="{% url 'customer_list' %}" class="btn btn-blue">
            Cancel
        </a>
    </form>

</div>

{% endblock %}